.icon{
  width: 25px;
  height: 25px;
  display: block;

  mask-size: 100%;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  background-color: black;


  &.icon-gift{
    mask-image: url("../../assets/img/giftbox.png");
    -webkit-mask-image: url("../../assets/img/giftbox.png");
    background-color: #fff;
  }
  &.icon-user{
    mask-image: url("../../assets/img/user.png");
    -webkit-mask-image: url("../../assets/img/user.png");
    background-color: #8794AC;
  }
  &.icon-call{
    mask-image: url("../../assets/img/call.png");
    -webkit-mask-image: url("../../assets/img/call.png");
    background-color: #fff;
  }
  &.icon-bottom-arrow{
    mask-image: url("../../assets/img/bottom-arrow.png");
    -webkit-mask-image: url("../../assets/img/bottom-arrow.png");
    background-color: #8794AC;
    width: 15px;
    height: 15px;
  }
  &.icon-star{
    mask-image: url("../../assets/img/star.svg");
    -webkit-mask-image: url("../../assets/img/star.svg");
    background-color: white;
    width: 15px;
    height: 15px;
  }
  &.icon-star2{
    mask-image: url("../../assets/img/star.svg");
    -webkit-mask-image: url("../../assets/img/star.svg");
    background: linear-gradient(90deg, #FB9B41 0%, #F2B96D 100%);
    width: 15px;
    height: 15px;
  }
  &.icon-plus{
    mask-image: url("../../assets/img/plus.png");
    -webkit-mask-image: url("../../assets/img/plus.png");
    background-color: #fff;
  }
  &.icon-top{
    mask-image: url("../../assets/img/top.png");
    -webkit-mask-image: url("../../assets/img/top.png");
    background-color: white;
  }
}

::-webkit-scrollbar{
  width: 5px;
  height: 4px;
}
::-webkit-scrollbar-track{
  background-color: rgb(17, 17, 17);
}
::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background-image: linear-gradient(to bottom, #000046, #1cb5e0);
}

body{
  scrollbar-width:5px;
}

.profile{
  width: 100%;
  height: 100vh;
  display: flex;
  .profile-layout-left{
    width: 500px;
    height: 100%;
    overflow-y: auto;
    background-color: #F2F4FB;

    .row{
      padding: 0!important;
      margin: 0!important;
      .col-8{
        padding: 0!important;
        .menu{
          margin: 0!important;
          .logo{
            width: 375px;
          }
          .menus{
            .sell-button{
              width: 90%;
              height: 60px;
              margin-left: auto;
              margin-right: auto;
              border: none;
              display: flex;
              align-items: center;
              cursor: pointer;
              transition: all 0.3s linear;

              &:hover{
                background-color: white;
              }

              .sell-logo{
                height: 100%;
                img{
                  height: 60px!important;
                }
              }
              p{
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .col-4{
        padding: 0!important;
        background-color: #E5E9F5;
      }
    }
    .content{

    }
  }


}

.products{
  padding-top: 20px;
}

.online-users{
  display: flex;
  align-items: center;
  width: 120px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;

  .circle1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #A3C37E;
    display: flex;
    align-items: center;
    justify-content: center;
    .circle2{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #599613;
    }
  }

  p{
    margin-bottom: 0;
    margin-left: 10px;
  }
}
.user-gift{
  width: 100%;
  margin: 20px 0;
  background-color: #C9CAEA!important;
  display: flex;
  align-items: center;
  .user{
    width: 30px;
    height: 30px;
    margin-left: 30px;
  }
  .gift{
    width: 100%;
    background-color: #6C78F1;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: 30px;
    span{
      mask-image: url("../../assets/img/giftbox.png");
      background-color: white;
    }
  }
}
.lenta{
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .comment{
    width: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-right: 10px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 10px;
    p{
      margin-bottom: 0;
      text-align: end;
      font-weight: bold;
    }
    img{
      width: 100%;
      position: absolute;
      left: -40px;
      top: -30px;
    }
  }
}

.profile-layout-right{
  width: calc(100% - 500px);
  height: 100%;
  overflow-y: auto;
  background-color: #F3F7FF;

  //.profile{
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    .navbar{
      padding: 30px 0;
      margin: 0;
      list-style-type: none;
      .nav-item{
        .nav-link:first-child{
          margin-left: 5px!important;
        }
        .nav-link{
          color: #AFB9CD;
          position: relative;
          padding: 10px;
          &:after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 3px;
            background-color: #4856F1;
            transition: all 0.5s linear;
          }

          &:hover{
            color: black;
            &:after{
              width: 100%;
            }
          }
        }
      }
    }
    .navbar-right{
      display: flex;
      align-items: center;
      cursor: pointer;
      .call{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #77BA2C;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .profile-menus{
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 50px;
        background-color: #fff;
        margin-left: 20px;
        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        p{
          margin-bottom: 0;
          margin-left: 10px;
        }
        span{
          margin-left: 40px;
        }
      }
    }
  }
  .textcenter{
    .backImg{
      h3{
        text-align: center;
        font-size: 20px;
      }
      .line{
        width: 50px;
        height: 3px;
        background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
        mix-blend-mode: normal;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

}

.profile-content{
  .row{
    padding: 50px 25px 0 25px;
    margin: 0;
    .roww{
      @media (max-width: 1550px) and (min-width: 1400px){
        overflow-y: hidden;
        overflow-x: scroll;
        h3{
          font-size: 12px!important;
        }
        .mediah3{
          font-size: 10px!important;
        }
      }
    }
    .col-4{
      background-color: white;
      .card{
        position: relative;
        border: none;
        padding-top: 150px;
        img{
          width: 200px;
          height: 200px;
          border-radius: 50%;
          position: absolute;
          //left: 25%;
          //right: 18%;
          right: 25%;
          //left: 50%;
          top: -60px;
          @media (min-width: 1400px) and (max-width: 1550px){
            right: 15%;
          }
        }
        h3{
          text-align: center;
          font-family: Acrom;
          font-style: normal;
          font-weight: bold;
          font-size: 25px;
          line-height: 22px;
          position: relative;

          img{
            position: absolute;
            width: 100px;
            height: 100px;
            top: -80px;
            cursor: pointer;
          }
        }
        .online-users{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 120px;
          padding: 5px 10px;
          background-color: white;
          border-radius: 20px;
          margin-left: auto;
          margin-right: auto;

          .circle1{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #A3C37E;
            display: flex;
            align-items: center;
            justify-content: center;
            .circle2{
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #599613;
            }
          }

          .online-text{
            margin-bottom: 0;
            margin-left: 10px;
            font-family: Acrom;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 14px;
            text-align: center;
            color: #C5CFE4;
          }
        }
        .kirish{
          margin-top: 10px;
          text-align: center;
          cursor: pointer;
          font-family: Acrom;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          text-decoration-line: underline;
          color: #ACB6CC;
        }
      }
    }
    .col-8{
      background-color: #fff;
      border-radius: 5px;
      padding: 0;
      .row{
        padding: 0;
        padding: 10px 0 ;
        .col-8{
          .row{
            padding: 0;
            .col-3, .col-6{
              h3{
                font-family: Acrom;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                color: #C1CCE0;
              }
              p{

                font-family: Acrom;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
              }
            }
          }
        }
        .col-4{
          h3{
            font-family: Acrom;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: #B4C1DC;
          }
          .star{
            display: flex;
            justify-content: space-between;
            .stars-count{
              h1{
                margin-bottom: 0;
                font-family: Acrom;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 48px;
                /* identical to box height */

                text-transform: uppercase;

                color: #000000;
              }
              p{
                font-family: Acrom;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                text-align: end;

              }
            }
            .stars{
              p{
                font-family: Acrom;
                font-style: normal;
                font-weight: bold;
                font-size: 11px;
                line-height: 13px;
                color: #000000;
                text-align: end;
                margin-bottom: 0;
              }
              .one-line{
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                  width: 15px;
                  height: 15px;
                  margin-left: 5px;
                }
                .line{
                  width: 100px;
                  height: 2px;
                  background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
                  border-radius: 100px;
                  margin-left: 10px;
                }
              }
              .two-line{
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                  width: 15px;
                  height: 15px;
                  margin-left: 5px;
                }
                .line2{
                  width: 100px;
                  height: 2px;
                  background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
                  border-radius: 100px;
                  margin-left: 10px;
                }
              }
              .three-line{
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                  width: 15px;
                  height: 15px;
                  margin-left: 5px;
                }
                .line2{
                  width: 100px;
                  height: 2px;
                  background: #D9DFF3;
                  border-radius: 100px;
                  margin-left: 10px;
                }
              }
              .four-line{
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                  width: 15px;
                  height: 15px;
                  margin-left: 5px;
                }
                .line2{
                  width: 100px;
                  height: 2px;
                  background: #D9DFF3;
                  border-radius: 100px;
                  margin-left: 10px;
                }
              }
              .five-line{
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                  width: 15px;
                  height: 15px;
                  margin-left: 5px;
                }
                .line2{
                  width: 100px;
                  height: 2px;
                  background: #D9DFF3;
                  border-radius: 100px;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
      .li{
        width: 100%;
        height: 2px;
        border: 1px solid #E2E9F7;
        background-color: #E2E9F7;
        margin-top: 50px;
        @media (min-width: 1400px) and (max-width: 1550px){
          margin-top: 20px;
        }
      }
      .menus-footer{
        .navbar{
          justify-content: center;
          .nav-item{
            .nav-link{
              position: relative;
              font-family: Acrom;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 19px;
              color: #C5CFE4;
              &:hover{
                font-family: Acrom;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                text-align: center;

                color: #000000;

                &:after{
                  width: 100%;
                }
              }
              &:after{
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: blue;
                transition: all 0.5s linear;
              }
            }
          }
        }
      }
    }
  }
}
.profile-content-two{
  .mediatext{
    @media (max-width: 1550px) and (min-width: 1400px){
      font-size: 15px!important;
    }

  }
  .linevh{
    margin: 0 10px;
    background: darkgrey;
  }
  .col-5{
    @media (min-width: 1400px) and (max-width: 1550px){
      min-width: 49%;
    }
  }
  .col-7{
    @media (min-width: 1400px) and (max-width: 1550px){
      max-width: 49%;
    }
  }
  .col66{
    @media (max-width: 1550px) and (min-width: 1400px){
      min-width: 80% !important;
      margin-left: auto;
      .commit{
        right: 50px;
      }
      .izoh, .closes{
        width: 15px!important;
        height: 15px!important;
      }
    }
  }
  .santachezz{
    //img{
    //  width: 50px;
    //  height: 50px;
    //  border-radius: 50%;
    //}
    @media (max-width: 1550px) and (min-width: 1400px){
      p{
        font-size: 10px!important;
        margin-bottom: 0!important;
        margin: 0;
      }
      .stars{
        margin: 0!important;
        img{
          width: 12px;
          height: 12px;
        }
      }
    }

  }
  .row{
    padding:25px;
    margin: 0;
    .col-4{
      //background-color: white;
      padding: 0;
      .card{
        border: none;
        .card-head{
          p{
            font-family: Acrom;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 17px;
            /* identical to box height */
            margin-bottom: 0;

            color: #000000;
          }
          span{
            font-family: Acrom;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 14px;
            text-decoration-line: underline;
            cursor: pointer;
            color: #CED0E4;
          }
        }
        .global-gold:nth-child(2){
          margin-top: 30px;
        }
        .global-gold{
          display: flex;
          align-items: center;
          margin-top: 10px;
          //justify-content: s;
          img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
          }
          p{
            font-family: Acrom;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            /* identical to box height */
            margin-bottom: 0;


            color: #000000;
          }
          span{
            font-family: Acrom;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;

            color: #C5CFE4;
          }
        }
      }
      .card:nth-child(2){
        border-top: 25px solid #F3F7FF;
        border-radius: 0;
      }
    }
    .col-8{
      padding: 0;
      .otziv{
        width: 150px;
        margin-left: auto;
        p{
          text-align: center;
          font-family: Acrom;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: #C3C7DF;
          margin-bottom: 0;
        }
        .button{
          display: flex;
          align-items: center;
          padding: 15px;
          width: 150px;
          background-color: #fff;
          p{
            font-family: Acrom;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            margin-bottom: 0;
            color: #000000;
          }
          span{
            margin-left: 20px;
          }
        }
      }
      .row{
        padding: 0;
        .col-5{
          background-color: white;
          padding-right: 50px;
          .santachezz{
            justify-content: space-between;
            align-items: center;
            p{
              font-family: Acrom;
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 19px;
              color: #000000;
              margin-bottom: 0;
              margin-top: 20px;
            }
            p:nth-child(2){
              font-family: Acrom;
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              line-height: 13px;
              color: #B4BAD2;
              margin-bottom: 0;
              margin-top: 10px;
            }
            .stars{
              margin-top: 20px;
            }
            .linevh{
              width: 2px;
              height: 80px;
              border: 1px solid rgba(226, 227, 243, 0.65);
              margin-top: auto;
              margin-bottom: auto;
              margin-left: 10px  ;
            }
            .product{
              .lenta{
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 60px;
                height: 60px;
              }
              p{
                text-align: center;
                font-family: Acrom;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 0!important;
                color: #000000;
              }
              p:last-child{
                font-family: Acrom;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                color: #CED0E4;
                margin-top: 5px;

              }
            }
          }
        }
        .col-7{
          background-color: white;
          position: relative;
          .doira{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background-color: #F3F7FF;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -60px;
            top: 20%;
            .circle{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: #3A59EF;
              display: flex;
              align-items: center;
              justify-content: center;
              .circle1{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #F3F7FF;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
          .py-3{
            p{
              font-family: Acrom;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              /* or 143% */


              color: #A2AEC8;
            }
            .d-flex{
              padding-left: 25px;
              span{
                cursor: pointer;
                p{
                  font-family: Acrom;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 12px;
                  line-height: 20px;
                  /* identical to box height, or 167% */

                  text-decoration-line: underline;

                  color: #C5CFE4;

                }
              }
            }
          }
        }
        .col-6:nth-child(2){
          background-color: white;
          position: relative;
          .commit{
            position: absolute;
            top: -15px;
          }
          .commenties{
            padding: 10px;
            img{
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            .content{
              margin-left: 10px;
              .sana{
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                  font-family: Acrom;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 20px;
                  line-height: 20px;
                  color: #000000;
                  margin-bottom: 0;
                }
                span{
                  font-family: Acrom;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 20px;
                  line-height: 20px;
                  color: #C9D0DF;
                }
                img{
                  margin-left: 10px;
                  border-radius: 0;
                  width: 25px;
                  height: 25px;
                  cursor: pointer;
                }
              }
              .text{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;
                p{
                  font-family: Acrom;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 15px;
                  color: #A2AEC8;
                }
                img{
                  border-radius: 0;
                  width: 30px;
                  height: 30px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}
//}
.my-product{
}
.container{
  .add-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7DC030;
    padding: 18px;
    border-radius: 50px;
    cursor: pointer;
    @media (min-width: 1400px){
      padding: 10px 20px;
    }
    p{
      margin-bottom: 0;
      color: white;
      font-size: 18px;
      @media (min-width: 1400px){
        font-size: 12px;
      }
    }
    span{
      margin-left: 10px;
      @media (min-width: 1400px){
        width: 20px;
        height: 20px;
      }
    }
  }
  .add-product:nth-child(2){
    background-color: #634EF4;
    margin-left: 20px;
  }
  .textcenter{
    margin-left: 20px;
    p{
      font-family: Acrom;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      margin-top: 20px;
      text-align: center;
      color: #95A4C2;

    }
  }
  .list{
    padding: 20px 30px;
    background-color: white;

    p{
      margin-bottom: 0;
      position: relative;
      color: darkgrey;
      font-weight: bold;
      cursor: pointer;
      @media (min-width: 1400px){
        font-size: 15px;
      }
      &:hover{
        color: black;
        &:after{
          width: 100%;
        }
      }
      &:after{
        content: "";
        width: 0 ;
        height: 4px;
        background-color: blue;
        position: absolute;
        left: 0;
        bottom: -20px;
        transition: all 0.5s linear;
      }
    }
    p:nth-child(2){
      margin-left: 30px;
    }
  }
  .informSale{
    border-radius: 8px;
    padding: 20px;
    background: #fff;
    position: relative;
    margin: 10px;
    max-width: 350px;
    width: 100%;
    display: inline-block;
    .favorute{
      img{
        width: 20px;
        height: 20px;
        cursor: pointer;
        &:nth-child(2){
          margin-left: 5px;
        }
      }

    }
  }
  .col-3{
    @media (min-width: 1400px){
      min-width: 33% !important;
    }
  }
}

.akkaunt, .pinCode{
  padding-bottom: 20px;

}

.container{
  .row{
    .col-3{
      .input-group{
        .input-group-prepend{
          .input-group-text{
            border-radius: 0!important;
            border: none!important;
            padding: 20px;
            border-top-left-radius: 50px!important;
            border-bottom-left-radius: 50px!important;
          }
          img{
            width: 25px;
            height: 25px;
          }
        }
        input{
          background-color: #E9ECEF!important;
          border-radius: 0!important;
          border: none!important;
          border-top-right-radius: 50px!important;
          border-bottom-right-radius: 50px!important;
          box-shadow: none;
          //width: 1505px;
        }
      }
    }
    .col4{
      @media (min-width: 1400px) and (max-width: 1800px){
        min-width: 49%!important;
      }
    }
    .col-4{
      .butonwithPrice{
        width: 120px;
      }
      h3{
        font-family: Acrom;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .range{
        display: flex;
        align-items: center;
        justify-content: center;
        .lines1{
          width: 60px;
          height: 5px;
          background: #E1E6F4;
          @media (min-width: 1400px)and (max-width: 1800px){
            width: 40px;
          }
        }
        .circles1, .circles2{
          background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
          border: 4px solid #FFFFFF;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .lines2{
          width: 140px;
          height: 5px;
          background: linear-gradient(90deg, #933AFF 0%, #70C9FF 100%);
          opacity: 0.65;
          @media (min-width: 1400px)and (max-width: 1800px){
            width: 100px;
          }
          //filter: blur(45px);
        }
        .lines3{
          width: 100px;
          height: 5px;
          background: #E1E6F4;
          @media (min-width: 1400px)and (max-width: 1800px){
            width: 60px;
          }
        }
      }
      .count{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        width: 360px!important;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 1400px) and (max-width: 1800px){
          width: 260px!important;
        }
        p{
          font-family: Acrom;
          font-size: 20px;
          line-height: 17px;
          margin-bottom: 0;
          color: #CDCFE5;
        }
        .counts{
          margin-left: 10px;
          width: 82px;
          height: 35px;
          background: #EAEBF8;
          border: 1px solid rgba(206, 208, 232, 0.25);
          box-sizing: border-box;
          box-shadow: 0px 4px 35px rgba(142, 145, 176, 0.15);
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .bravo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 1400px) and (max-width: 1800px){
          width: 260px!important;
        }
        .alfa{
          width: 100px;
          height: 40px;
          background: #EAEBF8;
          border: 1px solid rgba(206, 208, 232, 0.25);
          box-sizing: border-box;
          box-shadow: 0px 4px 35px rgba(142, 145, 176, 0.15);
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (min-width: 1400px) and (max-width: 1800px){
            width: 80px!important;
          }
          P{
            margin-bottom: 0;
          }
        }
        .alfa1{
          width: 100px;
          height: 40px;
          background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
          /* SHW */

          box-shadow: 0px 25px 35px rgba(226, 227, 243, 0.65);
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (min-width: 1400px) and (max-width: 1800px){
            width: 80px!important;
          }
          p{
            margin-bottom: 0;
            color: white;
          }
        }
      }
      .salom{
        background: linear-gradient(90deg, #8CD23C 0%, #417A00 100%) !important;
      }
      .select{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background: #EAEBF8;
        border: 1px solid rgba(206, 208, 232, 0.25);
        box-sizing: border-box;
        box-shadow: 0px 4px 35px rgba(142, 145, 176, 0.15);
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        height: 45px;
        @media (min-width: 1400px) and (max-width: 1800px){
          width: 260px!important;
        }
        p{
          margin-bottom: 0;
        }
        img{
          width: 20px;
          height: 20px;
        }
      }
      .checkeds{
        display: flex;
        align-items: center;
        margin-left: 20px;
        .check{
          background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
          box-shadow: 0px 25px 65px rgba(197, 202, 224, 0.75);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 15px;
            height: 15px;
          }
        }
        .check1{
          border: 1px solid #DADBED;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        p{
          font-family: Acrom;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 14px;
          margin-left: 10px;

          color: #000000;
          margin-bottom: 0;
        }
      }
      .submit{
        width: 250px;
        background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
        border-radius: 4px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        margin-top: 30px;
        img{
          width: 20px;
          height: 20px;
        }
        p{
          font-family: Acrom;
          font-size: 18px;
          line-height: 14px;
          margin-bottom: 0;
          color: #FFFFFF;
          margin-left: 10px;
        }
      }
      .submit:last-child{
        background: #EAEBF8;
        border-radius: 4px;
        margin-top: 10px!important;
        p{
          color: black;
        }
      }
    }
    .paginations{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      img{
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
      img:last-child{
        margin-left: 10px;
      }
      .pag-item1, .pag-item3{
        cursor: pointer;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #E3E9F5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
      }
      .pag-item3{
        background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);

        color: white;
      }
    }
  }
}

.roulletse{
}
.col-4 {


}
.BmQR_GrXJqDVsHa63vSs{
  width: 100% !important;
}
.farm, .farm2, .farm1{
  width: 100%;
  &:hover{
    opacity: 0.7;
  }
}
.farm1{
  background-image: url("../../assets/img/backRed.png");
  background-size: 100%;
}
.farm2{
  background-image: url("../../assets/img/backYellow.png");
}

.random{

}

.akkaunt-warface{
  display: flex;
  align-items: center;

  h3{
    font-family: Acrom;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #000000;
  }
  p{
    font-family: Acrom;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0;

    color: #BEC1DB;
  }
}
h4{

  font-family: TT Norms;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #ACBAD8;
}
button{
  background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
  border-radius: 100px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  p{
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    margin-bottom: 0;
  }
}
.times{
  display: flex;
  align-items: center;
  justify-content: center;
  .time{
    margin-top: 15px;
    .timm{
      background-color: #f5f5f5;
      border-radius: 50%;
    }
    .nAzGKA_sSgU__7y1Sksv{
      font-family: TT Norms;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;

      color: #000000;
    }
    .H_QXQHDLgbvpC9cx4OYU{
      font-family: TT Norms;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      /* identical to box height */

      text-align: center;

      color: #80809F;
    }

  }
}
h5{
  font-family: TT Norms;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.btn-primarys{
  background: linear-gradient(90deg, #8CD23C 0%, #417A00 100%);
  border-radius: 100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.col-8{
  margin-top: 30px;
}
.col-4{
  .card{
    background-color: white!important;
    position: relative;
    .doira{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #F3F7FF;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: -50px;
      top: 30%;
      .circle{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #3A59EF;
        display: flex;
        align-items: center;
        justify-content: center;
        .circle1{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #F3F7FF;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .pos{
      width: 100%;
      background-color: #F3F7FF;
      height: 30px;
      img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
    .body{
      margin-top: 50px;
      button{
        background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
        border-radius: 100px;
        padding: 10px 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      h3{
        font-family: Acrom;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        text-align: center;
        margin-bottom: 0;
        color: #000000;
        margin-top: 10px;
      }
      .three{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 12px;
        margin-bottom: 12px;
        h3{
          font-family: Acrom;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          letter-spacing: 0.05em;

          color: #000000;

        }
        p{
          font-family: Acrom;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;

          color: #B4BAD2;
        }
        .lineee{
          opacity: 0.65;
          border: 1px solid #DBE0ED;
          background-color: #DBE0ED;
          transform: rotate(90deg);
          width: 35px;
        }
      }
    }

    .cardss{
      .beaf{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      h3{
        font-family: Acrom;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 0;

        color: #000000;

      }
      p{
        font-family: Acrom;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */


        color: #B7C3DB;
        margin-bottom: 0;
      }

    }

  }
}

.products{
}

.ended{
  font-family: Acrom;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: #C5CFE4!important;
}
.cardo{
  position: relative;
  .new{
    background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 25px;
    position: absolute;
    top: -15px;
    color: white!important;
    P{
      color: white!important;
    }
  }
  img{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
  }
  h3{
    font-family: Acrom;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 0;
    margin-top: 10px;
  }
  p{
    font-family: Acrom;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal!important;
    /* identical to box height */
    color: #BEC1DB!important;
    margin-top: 0!important;
    margin-bottom: 0;
  }
}
.cardoo{
  padding: 15px;
  p{
    font-family: Acrom;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #C5CFE4;
    text-align: end;
  }
  .d-flex{
    margin-top: 5px;
    span{
      font-family: Acrom;
      font-style: normal;
      font-weight: bold;
      font-size: 15px!important;
      /* identical to box height */


      color: #C5CFE4!important;
    }
  }
  .col-2{
    span{
      font-family: Acrom;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      //line-height: 38px;
      height: 100%;

      color: #000000;

    }
  }
  .profiles{
    display: flex;
    justify-content: end;
    .online{
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: linear-gradient(90deg, #8CD23C 0%, #417A00 100%);
      border: 3px solid #FFFFFF;
      position: absolute;
      right: 10px;
      top: 65px;
    }
    img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    span{
      font-family: Acrom;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      /* identical to box height */
      margin-bottom: 0;
      color: #000000;
    }
    .spans{
      font-family: Acrom;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 17px;
      /* identical to box height */


      color: #000000;
    }

    .psss{
      font-size: 12px!important;
      margin-top: 5px;
    }
    p{
      color: #B4C1DC!important;
      text-align: start!important;
      margin-bottom: 0;
      line-height: normal!important;
    }
    .star{
      display: flex;
      justify-content: space-between;
      .stars-count{
        margin-right: 10px;
        h1{
          margin-bottom: 0;
          font-family: Acrom;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 48px;
          /* identical to box height */

          text-transform: uppercase;

          color: #000000;
        }
        .end-p{
          font-family: Acrom;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 17px;
          color: #000000!important;
          text-align: end;

        }
      }
      .stars{
        .end-p{
          font-family: Acrom;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 17px;
          color: #000000!important;
          text-align: end;

        }
        .one-line{
          display: flex;
          align-items: center;
          justify-content: space-between;
          img{
            width: 15px;
            height: 15px;
            margin-left: 5px;
          }
          .line{
            width: 100px;
            height: 2px;
            background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
            border-radius: 100px;
            margin-left: 10px;
          }
        }
        .two-line{
          display: flex;
          align-items: center;
          justify-content: space-between;
          img{
            width: 15px;
            height: 15px;
            margin-left: 5px;
          }
          .line2{
            width: 100px;
            height: 2px;
            background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
            border-radius: 100px;
            margin-left: 10px;
          }
        }
        .three-line{
          display: flex;
          align-items: center;
          justify-content: space-between;
          img{
            width: 15px;
            height: 15px;
            margin-left: 5px;
          }
          .line2{
            width: 100px;
            height: 2px;
            background: #D9DFF3;
            border-radius: 100px;
            margin-left: 10px;
          }
        }
        .four-line{
          display: flex;
          align-items: center;
          justify-content: space-between;
          img{
            width: 15px;
            height: 15px;
            margin-left: 5px;
          }
          .line2{
            width: 100px;
            height: 2px;
            background: #D9DFF3;
            border-radius: 100px;
            margin-left: 10px;
          }
        }
        .five-line{
          display: flex;
          align-items: center;
          justify-content: space-between;
          img{
            width: 15px;
            height: 15px;
            margin-left: 5px;
          }
          .line2{
            width: 100px;
            height: 2px;
            background: #D9DFF3;
            border-radius: 100px;
            margin-left: 10px;
          }
        }
      }
    }
  }
  .buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .prices{
      font-family: Acrom;
      font-style: normal;
      font-weight: bold;
      font-size: 32px!important;
      line-height: 38px;
      color: #000000;
    }
    button{
      background: linear-gradient(90deg, #8CD23C 0%, #417A00 100%) !important;
      border-radius: 100px!important;
      padding: 15px 50px!important;
      box-shadow: none;
      p{
        font-family: Acrom;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;

        color: #FFFFFF;
      }
      img{
        margin-left: 20px;
      }
    }
    .message{
      background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
      width: 50px;
      height: 50px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  h4{
    font-family: Acrom;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #000000;

  }
  .alfas{
    padding: 10px 15px;
    background: rgba(226, 227, 243, 0.65);
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    &:nth-child(1){
      margin-left: 0;
    }
    &:hover{
      background: linear-gradient(90deg, #8CD23C 0%, #417A00 100%);
      border-radius: 3px;
      color: white;
    }
  }
}
.col-4{
  .col-8{
    .card{
      p{
        font-family: Acrom;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        text-align: end;
        color: #C5CFE4;
      }
    }
  }
}
.col-12{
  .card{
    h3{

      font-family: Acrom;
      font-style: normal;
      font-weight: bold;
      font-size: 20px!important;
      line-height: 35px;
      /* or 194% */


      color: #000000;
    }
    p{
      font-family: Acrom;
      font-style: normal;
      font-weight: bold;
      font-size: 15px!important;
      line-height: 35px;
      /* or 194% */


      color: #4c4c4c;
    }

    .input-group{
      //width: 200px;
      .input-group-prepend{
        .input-group-text{
          border-radius: 0!important;
          border: none!important;
          padding: 10px;
          border-top-left-radius: 10px!important;
          border-bottom-left-radius: 10px!important;
        }
        img{
          width: 25px;
          height: 25px;
        }
      }
      input{
        background-color: #E9ECEF!important;
        border-radius: 0!important;
        border: none!important;
        border-top-right-radius: 10px!important;
        border-bottom-right-radius: 10px!important;
        box-shadow: none;
        //width: 1505px;
      }
    }
    .select{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      background: #EAEBF8;
      border: 1px solid rgba(206, 208, 232, 0.25);
      box-sizing: border-box;
      box-shadow: 0px 4px 35px rgba(142, 145, 176, 0.15);
      border-radius: 10px;
      margin-left: 10px;
      width: 200px;
      height: 45px;
      @media (min-width: 1400px) and (max-width: 1800px){
        width: 150px!important;
      }
      p{
        margin-bottom: 0;
      }
      img{
        width: 20px;
        height: 20px;
      }
    }

  }
}
.linesss{
  background: linear-gradient(90deg, #8CD23C 0%, #417A00 100%);
  width: 35px;
  height: 3px;
}
.end-card{
  background: rgba(233, 235, 255, 0.65);
  box-shadow: 0px 25px 35px rgba(226, 227, 243, 0.25);
  border-radius: 4px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover{
    background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
    border-radius: 4px;
    p{
      color: white;
    }
  }
  img{
    width: 25px;
    height: 25px;
  }
  p{
    margin-left: 10px;
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #0B0C10;
  }
}
.end-card2{
  background: #FFFFFF;
  /* SHW */

  box-shadow: 0px 25px 35px rgba(226, 227, 243, 0.65);
  border-radius: 6px;
  padding: 20px 10px;
  padding-top: 0;

  .lineaftamat, .lineaftamaty, .lineaftamatk{
    width: 80px;
    height: 5px;
    background: linear-gradient(90deg, #F5C63B 0%, #ED502A 100%);
    border-radius: 0px 0px 15px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .lineaftamaty{
    background: linear-gradient(90deg, #8CD23C 0%, #417A00 100%);
    border-radius: 0px 0px 15px 15px;
  }
  .lineaftamatk{
    background: linear-gradient(90deg, #A480DF 0%, #7E47EF 100%);
    border-radius: 0px 0px 15px 15px;
  }

  img{
    width: 100%;
    //width: 50px;
    //height: 50px;
  }
  p{
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: #000000;
    line-height: normal!important;
    margin-bottom: 0;
    margin-top: 20px;
  }
}
.btn-success{
  background: linear-gradient(90deg, #8CD23C 0%, #417A00 100%);
  border-radius: 100px;
  padding: 10px 20px;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}