@import "../../general";

.table {

  .tHead{
    font-family: Acrom, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #BDC6DA;
    .tRow{
      .th{
        border-bottom: none;
      }
    }
  }

  .tBody {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    .tRow{
      .td{
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: none;
      }
    }
  }
}