html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  background: #ffff; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: Lazar;
  src: url("../src/assets/fonts/Lazar/Lazar-1389.otf") format("opentype"); }
.card {
  border: none;
  background-color: transparent; }

.float-button {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  left: 95%;
  width: 65px;
  height: 65px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .float-button:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }

h5 {
  font-family: 'Acrom-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px; }

.btn {
  width: 100%;
  height: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  font-family: "TT Norms", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px; }

.btn-light {
  background: #E1E1F1;
  color: #FFFFFF; }

.btn-success {
  background: linear-gradient(90deg, #8CD23C 0%, #417A00 100%);
  height: 55px;
  border-radius: 100px;
  font-family: TT Norms, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 19px 50px; }

.btn-primary {
  height: 66px;
  background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
  border-radius: 100px;
  font-family: Acrom, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF; }

.offcanvas-header {
  background-color: black; }

.offcanvas-body {
  background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
  color: white; }

.navbar-nav .nav-link {
  color: wheat; }

.navbar-nav .dropdown-menu {
  background-color: wheat; }

.navbar-light .navbar-toggler {
  border-color: white; }

.btnGreen {
  margin-top: 0; }

/*# sourceMappingURL=BtnGreen.module.css.map */
